@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Darumadrop+One&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Adjust width for vertical scrollbar */
  height: 6px; /* Adjust height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border-radius: 10px;
}

.timer-display {
  position: absolute; /* Change to absolute */
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  z-index: 10; /* Ensure it's above the video */
  display: none;
}

.animate-timer {
  animation: scale-up 1s infinite;
}

@keyframes scale-up {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.camera-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.8;
  z-index: 100;
}

.photo {
  position: relative;
  cursor: pointer;
}

.photo.selected {
  border: 3px solid #4ade80;
}

.photo-strip img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.proceed-btn {
  display: none !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in:not(.hidden) {
  opacity: 1;
}

.take-photo-btn:disabled {
  background-color: #888; /* Gray background */
  cursor: not-allowed; /* Not-allowed cursor */
}

.photo-wrapper {
  position: relative;
  display: inline-block;
}

.photo {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.photo:hover {
  opacity: 90%;
}

.photo-wrapper:hover .photo-buttons {
  opacity: 1;
}

.photo-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 18px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.photo-buttons button {
  color: white;
  cursor: pointer;
  font-size: 18px;
  background-color: black;
  padding: 0.5em 0.85em;
  border-radius: 100px;
}

.photo-buttons button:hover {
  opacity: 70%;
}

/* From Uiverse.io by mobinkakei */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 1000px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.selected {
  border: 4px solid black;
  position: relative;
}

.selected::after {
  content: "✔";
  position: absolute;
  top: 8px;
  right: 8px;
  background: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
